* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}
.actors-container {
  .header {
    display: flex;
    justify-content: space-between;
    .home-logo {
      width: 30%;
    }
    .login-page-container {
      margin-top: 14px;
      margin-right: 1rem;
    }
    .login-a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 28px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .actors-data {
    margin: 1rem;
    color: #fff;
    .profile-info {
      #profile-name {
        margin-bottom: 1rem;
      }
      #profile-bio {
        line-height: 1.4;
        margin-top: 1rem;
      }
    }
    .profile-image {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      #profile-photo {
        width: 40%;
        border-radius: 10px;
      }
    }
  }
  .acted-head {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  #acted-movies-list {
    color: #fff;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .actors-container {
    .header {
      margin-right: 2rem;
      .home-logo {
        width: 16%;
      }
    }
    .actors-data {
      margin-left: 6rem;
      margin-right: 6rem;
      .profile-image {
        justify-content: flex-start;
        .nameData {
          margin: 6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .actors-container {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    .header {
      margin-right: 2rem;
      margin-top: 1rem;
      .home-logo {
        width: 10%;
      }
    }
  }
}
