* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}
.home-page {
  .header {
    display: flex;
    justify-content: space-between;
    .home-logo {
      width: 30%;
    }
    .login-page-container {
      margin-top: 14px;
      margin-right: 1rem;
    }
    .login-a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 28px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .filter-container {
    margin-left: 1rem;
    color: #fff;
    .search-form {
      margin-bottom: 1rem;
      .search-input {
        height: 30px;
        padding-left: 0.5rem;
      }
      .search-btn {
        width: 80px;
        height: 30px;
        cursor: pointer;
      }
    }
    .select-option {
      height: 30px;
      margin-bottom: 1rem;
    }
  }
  .movies-container {
    margin-left: 1rem;
    margin-top: 1rem;
    .movies-header {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }
    .movies-page {
      display: flex;
      flex-wrap: wrap;
      .each-movie {
        background-color: #383d3c;
        border-radius: 4px;
        list-style-type: none;
        margin: 1rem;
        padding-bottom: 1rem;
        .movie-anchor {
          text-decoration: none;
          color: #fff;
          .movie-image {
            width: 150px;
            height: 180px;
            border-radius: 4px;
          }
          .content {
            margin-left: 0.5rem;
            .movie-title {
              margin-bottom: 1rem;
              font-weight: bold;
              font-size: 20px;
            }
            .movie-rating {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px){
  .home-page {
    .header {
      margin-right: 2rem;
      .home-logo {
        width: 16%;
      }
    }
    .filter-container {
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
      .select-option {
        width: 300px;
      }
    }
    .movies-container {
      .movies-header {
        margin-left: 1rem;
      }
      .movies-page {
        .each-movie {
          .movie-anchor {
            .movie-image {
              width: 200px;
              height: 250px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .home-page {
    height: 100vh;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    .header {
      margin-right: 2rem;
      .home-logo {
        width: 10%;
      }
    }
    .filter-container {
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
      .search-form {
        margin-bottom: 1rem;
        .search-input {
          height: 35px;
          width: 300px;
        }
        .search-btn {
          height: 35px;
        }
      }
      .select-option {
        width: 300px;
      }
    }
    .movies-container {
      .movies-header {
        margin-left: 1rem;
      }
      .movies-page {
        .each-movie {
          .movie-anchor {
            .movie-image {
              width: 300px;
              height: 320px;
            }
          }
        }
      }
    }
  }
}
