* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 40%;
  }
  .form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 70%;
    .header {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 1rem;
    }
    label {
      font-weight: 600;
      font-size: 20px;
    }
    input {
      height: 30px;
      width: 100%;
      padding-left: 0.5rem;
    }
    p {
      color: red;
      margin-bottom: 1rem;
    }
    .login-btn {
      width: 100%;
      background-color: #e6c925;
      height: 30px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
.sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  .sign-up-btn {
    width: 180px;
    height: 30px;
    border: 1px solid rgb(160, 151, 151);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .login-container {
    .logo {
      width: 20%;
    }
    .form-container {
      width: 40%;
      .header {
        font-weight: 700;
        font-size: 40px;
      }
      label {
        font-weight: 600;
        font-size: 24px;
      }
      p {
        margin-bottom: 1.5rem;
        font-size: 18px;
        margin-top: 0.3rem;
      }
      input {
        height: 30px;
        width: 300px;
      }
    }
    .sign-up {
      .sign-up-btn {
        width: 300px;
      }
    }
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
