* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}
.movies-page {
  .header {
    display: flex;
    justify-content: space-between;
    .home-logo {
      width: 30%;
    }
    .login-page-container {
      margin-top: 14px;
      margin-right: 1rem;
    }
    .login-a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 28px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .movie-data-container {
    .movie-data {
      color: #fff;
      margin: 1rem;
      .movie-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .movie-image {
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
      }
      .details-container {
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;
        .genre {
          .details-head {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0.5rem;
          }
          .description {
            color: #a7c7b6;
            font-size: 18px;
            margin-bottom: 0.3rem;
          }
        }
        .duration-year {
          .details-head {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0.5rem;
          }
          .description {
            color: #a7c7b6;
            font-size: 18px;
            margin-bottom: 0.3rem;
          }
        }
      }
      .director-actors {
        .details-head {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 0.5rem;
        }
        .description {
          color: #a7c7b6;
          font-size: 18px;
          margin-bottom: 0.3rem;
        }
      }
      .summary {
        .details-head {
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 0.5rem;
        }
        .summary-desc {
          color: #a7c7b6;
          font-size: 16px;
        }
      }
    }
  }
  .actors-container {
    color: #fff;
    margin-left: 1rem;
    .details-head {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 0.5rem;
    }
    .actots-image-container {
      .actor {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        margin-bottom: 1rem;
        .actor-image {
          margin-right: 1rem;
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .actor-name {
          color: #a7c7b6;
          font-size: 18px;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .movies-page {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    .header {
      .home-logo {
        width: 16%;
      }
    }
    .movie-data-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .movie-data {
        .movie-title {
          font-size: 40px;
        }
        .movie-image {
          width: 100%;
          height: 400px;
        }
        .details-container {
          margin-left: 6rem;
          margin-right: 6rem;
        }
        .director-actors {
          margin-left: 6rem;
          margin-right: 6rem;
          margin-top: 2rem;
        }
        .summary {
          margin-left: 6rem;
          margin-right: 6rem;
          margin-top: 2rem;
        }
      }
    }
    .actors-container {
      margin-left: 7rem;
      margin-right: 6rem;
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .movies-page {
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    .header {
      .home-logo {
        width: 10%;
      }
    }
  }
}
